img {
    float: left;
    width:30%;
    margin: 1.66%;



}
h1 {
    font-family:'Anton', sans-serif;
    font-size: 27px;
    text-align: left;
    margin-left: 1.66%;
    text-transform: uppercase;
    border-bottom: 1px solid #f1f1f1;
    width: 30%;
    padding-bottom: 15px;

}

